---
const { title, subtitle } = Astro.props;
---

<li class='bg-white rounded-lg shadow-md list-none px-4 py-6 dark:bg-grey-500'>
	<h3 class='heading-m mb-2 dark:text-white'>{title}</h3>
	<p class='body-m text-grey-300'>{subtitle}</p>
</li>