---
const { label, id } = Astro.props;
---
<div class='flex flex-row-reverse justify-end gap-4 body-m bg-grey-100 p-3 rounded accent-purple-200 hover:bg-purple-200 hover:bg-opacity-25 dark:bg-grey-600 dark:text-white dark:hover:bg-purple-200'>
  <label for={id}>{label}</label>
  <input id={id} type="checkbox">
</div>