---
import BoardIcon from "./Icons/BoardIcon.astro";

const { href, active } = Astro.props;
const Element = href ? 'a' : "button";

---

<li data-active={active} class={`pl-6 py-[14px] mr-5 rounded-r-full bg-transparent ${href ? 'text-grey-300' : 'text-purple-200'} hover:bg-purple-100 hover:bg-opacity-10 hover:text-purple-200 dark:hover:bg-white`}><Element class='flex items-center gap-3' href={href}><BoardIcon /> <slot /></Element></li>

<script>
document.querySelectorAll('[data-active]').forEach((item) => {
    item.classList.replace('bg-transparent', 'bg-purple-200');
    item.classList.replace('text-grey-300', 'text-white');
})
</script>